.effect-reveal-to-right {
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.67s;
}

.effect-reveal-to-left {
    opacity:0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.67s;
}

.effect-reveal-opacity {
    opacity:0;
    transition: all 0.85s !important;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}