
#logo-header{
    color:var(--menu-text-color);
    font-family: 'Russo One', sans-serif;
    border: 1px solid var(--logo-header-color);
    box-shadow: 1px 1px 1px 1px rgb(104, 110, 176);
    width:35px;
    text-align: center;
}

.navbar-toggler {
    background-color: var(--white-color);
}

hr {
    color:var(--menu-text-color);
}

.menu li a {
    position: relative;
    color:var(--menu-text-color);
}

.menu li a:hover {
    color: var(--menu-text-color);
}

.menu li a::after {
    content: '';
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: var(--menu-line-color) !important;
    transition: all 300ms ease-in-out ;
}

.menu li a:hover::after {
    width: 50%;
    left: 25%;
}