#welcome,
#welcome .container,
#welcome .row,
#welcome .d-flex {
    min-height: calc(80vh - 59px);
}

#welcome h1 {
    font-size: 1.6rem;
}

#welcome h2,
#welcome h3 {
    font-size: 6rem;
    font-weight: bolder;
}

#welcome p {
    width: 65%;
}


#experience {
    min-height: 100vh;
}

#projects {
    min-height: 100vh;
}

.content {
    padding-top: 59px !important;
    padding-bottom: 59px !important;
}

.fa-moon {
    color: var(--moon-color);
}

.btnCurriculum {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    border: 2px solid var(--btn-border-color) !important;
    background-color: var(--btn-background-color) !important;
    color: var(--btn-font-color) !important;
}

.btnCurriculum:hover {
    border: 2px solid var(--btn-border-hover-color) !important;
    background-color: var(--btn-background-hover-color) !important;
    color: var(--btn-font-hover-color) !important;
}

.list-item-custom{
    background-color:var(---list-item-custom-background-color);
    border:0;
    font-size:1.2rem;
    color:var(--blue-light-color) !important;
    
}

.list-item-custom-icon{
    background-color:var(---list-item-custom-background-color);
    color:var(--list-item-custom-text-color) !important;
}


.nav-link-custom{
    color: var(--menu-experience-text-color) !important;
    background-color:var(--menu-experience-background-color) !important;
    border-radius:0;
    padding-top:18px !important;
    padding-bottom:18px !important;
}


.nav-link-custom:hover{
    color: var(--menu-experience-hover-text-color) !important;
    background-color:var(--menu-experience-hover-background-color) !important;
    border-radius:0;
}


.nav-pills .nav-link-custom.active, .nav-pills .show > .nav-link-custom {
    color: var(--menu-experience-active-text-color) !important;
    border-left:3px solid var(--menu-experience-active-text-color) !important;
    border-radius:0;
    background-color: var(--menu-experience-active-background-color) !important;
}

@media screen and (max-width: 992px) {
    #welcome h1 {
        font-size: 1rem;
    }

    #welcome h2,
    #welcome h3 {
        font-size: 3rem;
    }

    #welcome p {
        width: 100%;
    }

    .list-item-custom{
        font-size:0.8rem;
    }

    .nav-pills .nav-link-custom.active, .nav-pills .show > .nav-link-custom {
        color: var(--menu-experience-active-text-color) !important;
        border-bottom:3px solid var(--menu-experience-active-text-color) !important;
        border-left:0 !important;
        border-radius:0;
        background-color: var(--menu-experience-active-background-color) !important;
    }
    
}