* {
    box-sizing: border-box !important;
    text-decoration: none !important;
}

nav, li {
    color:var(--primary-color) !important;
}

body {
    overflow-x:hidden !important;
    font-family: 'Poppins', sans-serif !important;
    color: var(--primary-color);
    background-color: var(--body-bg);
    background-image: var(--background-image);
    color: var(--body-color);
    transition: background 0.2s linear;
    
}

a {
    color:var(--link-color);
}

a:hover {
    color:var(--link-color-hover);
}

h1{
    color:var(--primary-color);
}