.timeline-container {
    font-family: 'Fira Sans', sans-serif;
    position: relative;
}

.timeline-item {
    position: relative;
}

.circle {
    background-color: var(--timeline-text-color);
    position: absolute;
    border-radius: 50%;
    z-index:1;
}

.timeline-circle-icon{
    color:var(--timeline-icon-color);
}

.card{
    background-color:var(--card-background-color);
    color:var(--card-font-color);
    border-color:var(--card-border-color);
}

.card:hover{
    background-color:var(--card-background-hover-color);
}

.card h2 {
    color:var(--secondary-color);
}

@media screen and (max-width: 992px) {
    .timeline-item {
        width: 100%;
        padding:75px 30px 75px 30px ;
    }

    .circle{
        width: 30px;
        height: 30px;
        top:-15px;
        left: calc(50% - 13px); 
    }

    /* CARD IN RIGHT */
    .timeline-item::after {
        content: '';
        position:absolute;
        width: 3px;
        height: 75px;
        background-color: var(--timeline-text-color);
        bottom:0;
        left:50%;
    }

    .timeline-item::before {
        content: '';
        position:absolute;
        width: 3px;
        height: 75px;
        background-color: var(--timeline-text-color);
        top:0;
        left:50%;
    } 

    .timeline-item:last-child::after {
        display:none;
    } 

    .first-circle{
        top:20px;
    }
}

.card{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

@media screen and (min-width: 992px) {

    .timeline-item {
        width: 50%;
        padding: 60px;
    }

    .circle{
        width: 30px;
        height: 30px;
    }

    /* CARD IN RIGHT */
    .timeline-item:nth-child(2n+1) {
        left: 50%;
    }

    .timeline-item:nth-child(2n+1)::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background-color: var(--timeline-text-color);
        top: 0;
        left: -1.5px;
    }

    .timeline-item:nth-child(2n+1) .circle {
        left: -15px;
        top: calc(50% - 15px);
    }

    /* CARD IN LEFT */
    .timeline-item:nth-child(even) {
        left: 0;
    }

    .timeline-item:nth-child(even)::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background-color: var(--timeline-text-color);
        top: 0;
        right: -1.5px;
    }

    .timeline-item:nth-child(even) .circle {
        right: -15px;
        top: calc(50% - 15px);
    }
    
    .timeline-item:last-child::after{
        height:50%;
    }
    
}